<div class="card h-100 shadow-sm" *ngIf="Product">
<img src="{{Product.pictureUrl}}" alt="{{Product.name}}" class="img-fluid ">
  <div class="card-body d-flex flex-column">
    <a href="" class="text-decoration-none">
      <h6 class="text-uppercase">
        {{Product.name}}
      </h6>
    </a>
    <span class="mb-2">{{Product.price | currency}}</span>

    <div class="btn-group mt-auto">
      <button class="btn btn-outline-secondary fa fa-shopping-cart me-2"></button>
      <button routerLink="/shop/{{Product.id}}" class="btn btn-outline-secondary">View</button>
    </div>
  </div>
</div>